.horizontal-outer {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
}

.horizontal-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  will-change: transform;
}

.scroll-panel {
  flex: none;
  width: 100vw;
  height: 100vh;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-right: 2px solid #2ac0e5;
}
